

nav ul a,
nav .brand-logo {
  color: #444;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

/*.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}*/


.welcome-message {
  margin: auto;
  font-size: 16px;
  text-align: justify;
  text-justify: inter-word;
}

#feature-table {
  margin: auto;
  padding: 1px 0px 20px;
  width: 330px;
}

.img-footer {
  margin-bottom: -10px;
  border-bottom: 4px outset teal;
}

.img-footer img {
  width: 100%;
  height: 100%;

}

footer.page-footer {
  margin: 0px;
}

/*
* error message box
*/
.js-form__err-animation {   
  animation: shake 150ms ease-in-out; 
} 
.form__error-wrapper  {   
  justify-content: center;   
  margin: 0 auto;   
  margin-bottom: 1em; 
} 
.form__error {
   background-color: #ef5350;
   color: white;   
   margin: 0;   
   padding: 0.5em 1em;   
   font-size: 0.8em;
   user-select: none; 
} 

.js-form__err .form__error-wrapper {   
  display: flex; 
} 
@keyframes shake {   
  0% {     
    transform: translateX(0);   
  }   
  25% {     
    transform: translateX(10px);   
  }   
  75% {     
    transform: translateX(-10px);   
  }   
  100% {     
    transform: translateX(0);   
  } 
}

/* Scrollbar Style
----------------------------------------------- */
::-webkit-scrollbar {
width: 8px;
height:8px;
}
::-webkit-scrollbar-track {
background-color: #EEE;
}
::-webkit-scrollbar-thumb {
background-color: #009688;
}
::-webkit-scrollbar-thumb:window-inactive {
background: #009688;
}
::-webkit-scrollbar-thumb:hover {
background-color: #009099;
border-radius:5px;
}
/*End Scrollbar Style*/